.notice_header {
  margin-top: 72px;
}

.notice {
  width: 80%;
  margin: 72px auto 0;
}

.title {
  text-align: left;
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.dotdotdot {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 (선택) */
  margin: 0 10px;
  color: var(--Gray-Scale-300, #c4c4c4);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.notice_date {
}

.notice_graytext {
  display: flex;
  color: var(--Gray-Scale-300, #c4c4c4);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  margin-top: 36px;
}

.notice_border {
  border: 1px solid #d9d9d9;
  margin-top: 72px;
}

.notice_border1 {
  border: 1px solid #d9d9d9;
  margin-top: 108px;
  width: 100%;
}

.notice_real_content {
  margin-top: 1em;
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 40px */
}

.sns_text {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 72px;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 36px;
}

.icons_circle {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: var(--Gray-Scale-50, #f5f5f5);
  border-radius: 100%;
  margin-right: 36px;
}

.icon_detail {
  position: absolute;
  top: 50%; /* 부모 요소의 높이 50% 지점 */
  left: 50%; /* 부모 요소의 너비 50% 지점 */
  transform: translate(-50%, -50%);
}

.icons_circle1 {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: var(--Gray-Scale-50, #f5f5f5);
  border-radius: 100%;
}
